@import "tailwindcss";
/* in your global.css or tailwind.css */
@layer utilities {
  .perspective { perspective: 1000px; }
  .transform-style-preserve-3d { transform-style: preserve-3d; }
  .backface-hidden { backface-visibility: hidden; }
  .rotate-y-180 { transform: rotateY(180deg); }
  .transition-transform { transition: transform 0.6s ease-in-out; }
}
#root{
  
}